ejemplo-.net_40/Connected Services/Cancelacion_Pruebas/cancelacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:WashOut" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="cancelacion" targetNamespace="urn:WashOut" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:WashOut">
      <xsd:complexType name="folios">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="folio" nillable="true" type="tns:folio" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="folio">
        <xsd:sequence>
          <xsd:element name="uuid" nillable="true" type="xsd:string" />
          <xsd:element name="rfc_receptor" nillable="true" type="xsd:string" />
          <xsd:element name="total" nillable="true" type="xsd:string" />
          <xsd:element name="motivo" nillable="true" type="xsd:string" />
          <xsd:element name="folio_sustituto" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="cancelar_cfdi_result">
        <xsd:sequence>
          <xsd:element name="folios_cancelacion" nillable="true" type="xsd:string" />
          <xsd:element name="acuse_cancelacion" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="folios_externo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="folio_externo" nillable="true" type="tns:folio_externo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="folio_externo">
        <xsd:sequence>
          <xsd:element name="uuid" nillable="true" type="xsd:string" />
          <xsd:element name="rfc_receptor" nillable="true" type="xsd:string" />
          <xsd:element name="total" nillable="true" type="xsd:string" />
          <xsd:element name="motivo" nillable="true" type="xsd:string" />
          <xsd:element name="folio_sustituto" nillable="true" type="xsd:string" />
          <xsd:element name="fecha_timbrado" nillable="true" type="xsd:string" />
          <xsd:element name="tipo_comprobante" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="cancelar_cfdi_externo_result">
        <xsd:sequence>
          <xsd:element name="folios_cancelacion" nillable="true" type="xsd:string" />
          <xsd:element name="acuse_cancelacion" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="cancelar_cfdi_seguro_result">
        <xsd:sequence>
          <xsd:element name="folios_cancelacion" nillable="true" type="xsd:string" />
          <xsd:element name="acuse_cancelacion" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="consultar_estatus_result">
        <xsd:sequence>
          <xsd:element name="codigo_estatus" nillable="true" type="xsd:string" />
          <xsd:element name="es_cancelable" nillable="true" type="xsd:string" />
          <xsd:element name="estado" nillable="true" type="xsd:string" />
          <xsd:element name="estatus_cancelacion" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="consultar_peticiones_pendientes_result">
        <xsd:sequence>
          <xsd:element name="codestatus" nillable="true" type="xsd:string" />
          <xsd:element name="uuids" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="respuestas">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="folios_respuestas" nillable="true" type="tns:folios_respuestas" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="folios_respuestas">
        <xsd:sequence>
          <xsd:element name="uuid" nillable="true" type="xsd:string" />
          <xsd:element name="rfc_emisor" nillable="true" type="xsd:string" />
          <xsd:element name="total" nillable="true" type="xsd:string" />
          <xsd:element name="respuesta" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="procesar_respuesta_result">
        <xsd:sequence>
          <xsd:element name="folios" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="consultar_documento_relacionado_result">
        <xsd:sequence>
          <xsd:element name="resultado" nillable="true" type="xsd:string" />
          <xsd:element name="relacionados_padres" nillable="true" type="xsd:string" />
          <xsd:element name="relacionados_hijos" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="cancelar_cfdi">
    <wsdl:part xsi:nillable="true" name="username" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="password" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="rfc_emisor" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="folios" type="tns:folios" />
    <wsdl:part xsi:nillable="true" name="cert_pem" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="llave_pem" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cancelar_cfdi_response">
    <wsdl:part xsi:nillable="true" name="cancelar_cfdi_result" type="tns:cancelar_cfdi_result" />
  </wsdl:message>
  <wsdl:message name="cancelar_cfdi_externo">
    <wsdl:part xsi:nillable="true" name="username" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="password" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="rfc_emisor" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="folios" type="tns:folios_externo" />
    <wsdl:part xsi:nillable="true" name="cert_pem" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="llave_pem" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cancelar_cfdi_externo_response">
    <wsdl:part xsi:nillable="true" name="cancelar_cfdi_externo_result" type="tns:cancelar_cfdi_externo_result" />
  </wsdl:message>
  <wsdl:message name="cancelar_cfdi_seguro">
    <wsdl:part xsi:nillable="true" name="username" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="password" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="firma_base64" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cancelar_cfdi_seguro_response">
    <wsdl:part xsi:nillable="true" name="cancelar_cfdi_seguro_result" type="tns:cancelar_cfdi_seguro_result" />
  </wsdl:message>
  <wsdl:message name="consultar_estatus">
    <wsdl:part xsi:nillable="true" name="username" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="password" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="uuid" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="rfc_emisor" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="rfc_receptor" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="total" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="consultar_estatus_response">
    <wsdl:part xsi:nillable="true" name="consultar_estatus_result" type="tns:consultar_estatus_result" />
  </wsdl:message>
  <wsdl:message name="consultar_peticiones_pendientes">
    <wsdl:part xsi:nillable="true" name="username" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="password" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="rfc_receptor" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="cert_pem" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="llave_pem" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="consultar_peticiones_pendientes_response">
    <wsdl:part xsi:nillable="true" name="consultar_peticiones_pendientes_result" type="tns:consultar_peticiones_pendientes_result" />
  </wsdl:message>
  <wsdl:message name="procesar_respuesta">
    <wsdl:part xsi:nillable="true" name="username" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="password" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="rfc_receptor" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="respuestas" type="tns:respuestas" />
    <wsdl:part xsi:nillable="true" name="cert_pem" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="llave_pem" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="procesar_respuesta_response">
    <wsdl:part xsi:nillable="true" name="procesar_respuesta_result" type="tns:procesar_respuesta_result" />
  </wsdl:message>
  <wsdl:message name="consultar_documento_relacionado">
    <wsdl:part xsi:nillable="true" name="username" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="password" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="uuid" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="rfc_emisor" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="rfc_receptor" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="cert_pem" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="llave_pem" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="consultar_documento_relacionado_response">
    <wsdl:part xsi:nillable="true" name="consultar_documento_relacionado_result" type="tns:consultar_documento_relacionado_result" />
  </wsdl:message>
  <wsdl:portType name="cancelacion_port">
    <wsdl:operation name="cancelar_cfdi">
      <wsdl:input message="tns:cancelar_cfdi" />
      <wsdl:output message="tns:cancelar_cfdi_response" />
    </wsdl:operation>
    <wsdl:operation name="cancelar_cfdi_externo">
      <wsdl:input message="tns:cancelar_cfdi_externo" />
      <wsdl:output message="tns:cancelar_cfdi_externo_response" />
    </wsdl:operation>
    <wsdl:operation name="cancelar_cfdi_seguro">
      <wsdl:input message="tns:cancelar_cfdi_seguro" />
      <wsdl:output message="tns:cancelar_cfdi_seguro_response" />
    </wsdl:operation>
    <wsdl:operation name="consultar_estatus">
      <wsdl:input message="tns:consultar_estatus" />
      <wsdl:output message="tns:consultar_estatus_response" />
    </wsdl:operation>
    <wsdl:operation name="consultar_peticiones_pendientes">
      <wsdl:input message="tns:consultar_peticiones_pendientes" />
      <wsdl:output message="tns:consultar_peticiones_pendientes_response" />
    </wsdl:operation>
    <wsdl:operation name="procesar_respuesta">
      <wsdl:input message="tns:procesar_respuesta" />
      <wsdl:output message="tns:procesar_respuesta_response" />
    </wsdl:operation>
    <wsdl:operation name="consultar_documento_relacionado">
      <wsdl:input message="tns:consultar_documento_relacionado" />
      <wsdl:output message="tns:consultar_documento_relacionado_response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="cancelacion_binding" type="tns:cancelacion_port">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="cancelar_cfdi">
      <soap:operation soapAction="cancelar_cfdi" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelar_cfdi_externo">
      <soap:operation soapAction="cancelar_cfdi_externo" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelar_cfdi_seguro">
      <soap:operation soapAction="cancelar_cfdi_seguro" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultar_estatus">
      <soap:operation soapAction="consultar_estatus" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultar_peticiones_pendientes">
      <soap:operation soapAction="consultar_peticiones_pendientes" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="procesar_respuesta">
      <soap:operation soapAction="procesar_respuesta" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultar_documento_relacionado">
      <soap:operation soapAction="consultar_documento_relacionado" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="cancelacion_port" binding="tns:cancelacion_binding">
      <soap:address location="https://staging.ws.timbox.com.mx/cancelacion/action" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>