ejemplo-.net/Service References/TimboxWSValidador/valida_cfdi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:WashOut" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="valida_cfdi" targetNamespace="urn:WashOut" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:WashOut">
      <xsd:complexType name="comprobante">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Comprobante" nillable="true" type="tns:Comprobante" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Comprobante">
        <xsd:sequence>
          <xsd:element name="external_id" nillable="true" type="xsd:string" />
          <xsd:element name="sxml" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="validar_cfdi_result">
        <xsd:sequence>
          <xsd:element name="resultados" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="validar_cfdi">
    <wsdl:part xsi:nillable="true" name="username" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="password" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="validar" type="tns:comprobante" />
  </wsdl:message>
  <wsdl:message name="validar_cfdi_response">
    <wsdl:part xsi:nillable="true" name="validar_cfdi_result" type="tns:validar_cfdi_result" />
  </wsdl:message>
  <wsdl:portType name="valida_cfdi_port">
    <wsdl:operation name="validar_cfdi">
      <wsdl:input message="tns:validar_cfdi" />
      <wsdl:output message="tns:validar_cfdi_response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="valida_cfdi_binding" type="tns:valida_cfdi_port">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="validar_cfdi">
      <soap:operation soapAction="validar_cfdi" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="valida_cfdi_port" binding="tns:valida_cfdi_binding">
      <soap:address location="https://staging.ws.timbox.com.mx/valida_cfdi/action" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>