ejemplo-.net/Service References/TimboxWS/timbrado_cfdi33.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:WashOut" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="timbrado_cfdi33" targetNamespace="urn:WashOut" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:WashOut">
      <xsd:complexType name="timbrar_cfdi_result">
        <xsd:sequence>
          <xsd:element name="xml" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="uuid">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="uuid" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="cancelar_cfdi_result">
        <xsd:sequence>
          <xsd:element name="acuse_cancelacion" nillable="true" type="xsd:string" />
          <xsd:element name="comprobantes_cancelados" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="cancelar_cfdi_certs_result">
        <xsd:sequence>
          <xsd:element name="acuse_cancelacion" nillable="true" type="xsd:string" />
          <xsd:element name="comprobantes_cancelados" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="timbrar_cfdi">
    <wsdl:part xsi:nillable="true" name="username" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="password" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="sxml" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="timbrar_cfdi_response">
    <wsdl:part xsi:nillable="true" name="timbrar_cfdi_result" type="tns:timbrar_cfdi_result" />
  </wsdl:message>
  <wsdl:message name="cancelar_cfdi">
    <wsdl:part xsi:nillable="true" name="username" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="password" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="rfcemisor" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="uuids" type="tns:uuid" />
    <wsdl:part xsi:nillable="true" name="pfxbase64" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="pfxpassword" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cancelar_cfdi_response">
    <wsdl:part xsi:nillable="true" name="cancelar_cfdi_result" type="tns:cancelar_cfdi_result" />
  </wsdl:message>
  <wsdl:message name="cancelar_cfdi_certs">
    <wsdl:part xsi:nillable="true" name="username" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="password" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="rfcemisor" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="uuids" type="tns:uuid" />
    <wsdl:part xsi:nillable="true" name="cert_pem" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="llave_pem" type="xsd:string" />
    <wsdl:part xsi:nillable="true" name="llave_password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cancelar_cfdi_certs_response">
    <wsdl:part xsi:nillable="true" name="cancelar_cfdi_certs_result" type="tns:cancelar_cfdi_certs_result" />
  </wsdl:message>
  <wsdl:portType name="timbrado_cfdi33_port">
    <wsdl:operation name="timbrar_cfdi">
      <wsdl:input message="tns:timbrar_cfdi" />
      <wsdl:output message="tns:timbrar_cfdi_response" />
    </wsdl:operation>
    <wsdl:operation name="cancelar_cfdi">
      <wsdl:input message="tns:cancelar_cfdi" />
      <wsdl:output message="tns:cancelar_cfdi_response" />
    </wsdl:operation>
    <wsdl:operation name="cancelar_cfdi_certs">
      <wsdl:input message="tns:cancelar_cfdi_certs" />
      <wsdl:output message="tns:cancelar_cfdi_certs_response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="timbrado_cfdi33_binding" type="tns:timbrado_cfdi33_port">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="timbrar_cfdi">
      <soap:operation soapAction="timbrar_cfdi" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelar_cfdi">
      <soap:operation soapAction="cancelar_cfdi" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelar_cfdi_certs">
      <soap:operation soapAction="cancelar_cfdi_certs" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WashOut" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="timbrado_cfdi33_port" binding="tns:timbrado_cfdi33_binding">
      <soap:address location="https://staging.ws.timbox.com.mx/timbrado_cfdi33/action" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>